.main_catagories:hover{
   font-weight: 700;
   color:rgb(104, 103, 103);
   font-size: 30px;
}


.main_container_div{
   margin-bottom: 40px;
}

.main_catagories{
margin-top: 10px;
}


@media (max-width: 576px){
   .main_catagories{
   margin-top: 30px;
   }
}